In [30]:
#for data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

#for data visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#for machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [31]:
overdose = pd.read_csv('overdoses.csv')

In [32]:
overdose.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [33]:
#overdose.isnull()

In [34]:
overdose = overdose.drop('State', axis=1)
overdose.head(2)

  Population Deaths Abbrev
0  4,833,722    723     AL
1    735,132    124     AK

In [35]:
overdose = overdose.rename(columns={'Abbrev': 'State'})
overdose.head(2)

  Population Deaths State
0  4,833,722    723    AL
1    735,132    124    AK

In [12]:
prescriber = pd.read_csv('prescriber_clean.csv')

In [13]:
prescriber.head()

,Opioid.Prescriber,Degree,DR_Gender,State,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VENTOLIN.HFA,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE
0,1,DDS,0,TX,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,MD,1,AL,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,35
2,0,MD,1,NY,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
3,1,MD,0,AZ,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,MD,0,NV,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,0,17,28,0,0,0

In [16]:
prescriber = prescriber[['State','Opioid.Prescriber', 'HYDROCODONE.ACETAMINOPHEN',
 'LEVOTHYROXINE.SODIUM',
 'SIMVASTATIN',
 'AMLODIPINE.BESYLATE',
 'LISINOPRIL',
 'OMEPRAZOLE',
 'METFORMIN.HCL',
 'GABAPENTIN',
 'FUROSEMIDE',
 'ATORVASTATIN.CALCIUM',
 'TRAMADOL.HCL',
 'HYDROCHLOROTHIAZIDE',
 'LOSARTAN.POTASSIUM',
 'TAMSULOSIN.HCL',
 'METOPROLOL.TARTRATE',
 'PRAVASTATIN.SODIUM',
 'POTASSIUM.CHLORIDE',
 'ATENOLOL',
 'OXYCODONE.ACETAMINOPHEN',
 'MELOXICAM',
 'ALPRAZOLAM',
 'LATANOPROST',
 'ALLOPURINOL',
 'WARFARIN.SODIUM',
 'OXYCODONE.HCL',
 'LISINOPRIL.HYDROCHLOROTHIAZIDE',
 'PREDNISONE',
 'PANTOPRAZOLE.SODIUM',
 'ALENDRONATE.SODIUM',
 'DONEPEZIL.HCL',
 'RANITIDINE.HCL',
 'ZOLPIDEM.TARTRATE',
 'FLUTICASONE.PROPIONATE',
 'METOPROLOL.SUCCINATE',
 'CITALOPRAM.HBR',
 'LOVASTATIN',
 'PROAIR.HFA',
 'NEXIUM',
 'CLOPIDOGREL',
 'GLIPIZIDE',
 'SERTRALINE.HCL',
 'AZITHROMYCIN',
 'LOSARTAN.HYDROCHLOROTHIAZIDE',
 'CIPROFLOXACIN.HCL',
 'GLIMEPIRIDE',
 'CRESTOR',
 'TRIAMTERENE.HYDROCHLOROTHIAZID',
 'LORAZEPAM',
 'LYRICA',
 'NAMENDA',
 'IBUPROFEN',
 'FENOFIBRATE',
 'FINASTERIDE',
 'MONTELUKAST.SODIUM',
 'LUMIGAN',
 'MORPHINE.SULFATE.ER',
 'FENTANYL',
 'CARVEDILOL',
 'JANUVIA',
 'CELEBREX',
 'CYCLOBENZAPRINE.HCL',
 'ENALAPRIL.MALEATE',
 'SULFAMETHOXAZOLE.TRIMETHOPRIM',
 'LEVOFLOXACIN',
 'CLONIDINE.HCL',
 'NAPROXEN',
 'FAMOTIDINE',
 'LANTUS',
 'TIZANIDINE.HCL',
 'BENAZEPRIL.HCL',
 'TIMOLOL.MALEATE',
 'METFORMIN.HCL.ER',
 'BACLOFEN',
 'ADVAIR.DISKUS',
 'VALSARTAN.HYDROCHLOROTHIAZIDE',
 'DIOVAN',
 'DULOXETINE.HCL',
 'CEPHALEXIN',
 'AMITRIPTYLINE.HCL',
 'POLYETHYLENE.GLYCOL.3350',
 'ESCITALOPRAM.OXALATE',
 'ACETAMINOPHEN.CODEINE',
 'DORZOLAMIDE.TIMOLOL',
 'TRAVATAN.Z',
 'AMLODIPINE.BESYLATE.BENAZEPRIL',
 'OXYBUTYNIN.CHLORIDE',
 'DIAZEPAM',
 'DOXAZOSIN.MESYLATE',
 'VOLTAREN',
 'TEMAZEPAM',
 'MECLIZINE.HCL',
 'SYNTHROID',
 'ROPINIROLE.HCL',
 'OXYCONTIN',
 'LANTUS.SOLOSTAR',
 'TRAZODONE.HCL',
 'OXYBUTYNIN.CHLORIDE.ER',
 'SPIRIVA',
 'PAROXETINE.HCL',
 'KLOR.CON.M20']]

In [18]:
prescriber.shape

(24876, 102)

In [19]:
prescriber.head(2)

,State,Opioid.Prescriber,HYDROCODONE.ACETAMINOPHEN,LEVOTHYROXINE.SODIUM,SIMVASTATIN,AMLODIPINE.BESYLATE,LISINOPRIL,OMEPRAZOLE,METFORMIN.HCL,GABAPENTIN,...,MECLIZINE.HCL,SYNTHROID,ROPINIROLE.HCL,OXYCONTIN,LANTUS.SOLOSTAR,TRAZODONE.HCL,OXYBUTYNIN.CHLORIDE.ER,SPIRIVA,PAROXETINE.HCL,KLOR.CON.M20
0,TX,1,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AL,1,182,31,51,15,52,85,39,63,...,0,0,0,0,0,31,0,0,0,0